body{
    background: url("Media/Crew/background-crew-desktop.jpg") no-repeat center center fixed;
    background-size: cover;
    padding: 0;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}


.people {
    display: none;
    align-items: center;
    gap: 40px;
}

.people.active {
    display: flex;
}

.tabs {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.tab {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.tab.active {
    background: #fff;
}
.tab1{
    margin-top: 36px;
    margin-left: 150px;
    display: flex;
    gap: 56px;

}

.container{
    display: flex;
    width: 80%;
    gap: 56px;
    margin-left: 150px;
}
.people-image{
    height: 754px;
    width: 539px;
    margin-left: 150px;
}
.people-image img{
    width: 100%;
}
.people-info{
    width: 539px;
}
.people-info h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
}
.people-info h3{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 56px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 5px;
}

.people-info p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    font-weight: initial;
    line-height: 30px;
}